main {
    background-image: url('../assets/connexionbackg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    padding-top:0px;
    padding-bottom:100px;
    

   
}

.content {
    display:flex;
    flex-direction:column;
    margin: auto;
    text-align:center;
}

.titre {
    font-family: Oleo Script Swash Caps;
    font-size: 65px;
    margin-bottom:20px;
}

.intro {
    font-family: Lobster;
    font-size:24px;
    margin-bottom:20px;
   
    
}

p {
    font-family: Abril Fatface;
    font-size:18px;
}


.styleform {
    margin:auto;
    
}

#connexion {
    position:relative;
    left:45px;
}

.formerror {
    margin:auto;
}

a {
    color: orange;
    text-decoration: none;
}




