
/*HEADER CSS ---------------------------------------------*/

body {
    margin:0px;
    width:100%;
    
}

header {
    background-color:black;
    width:100%;
    display:flex;
    flex-direction:row;
    height:150px;
    margin-bottom:0px;
}

.headerlogo {
    max-width:100%;
    height:auto;
    width:120px;
    margin-left:10%;
    
}

.hrightbox {
    display:flex;
    flex-direction:row;
    position: absolute;
    right:20%;
    top:52px;

}

.hbuttons {
    margin-right: 50%;
}

/* BOX SESSION LOGIN */


.sessionlog {
    background-color:white;
    border:3px orange solid;
    height:80px;
    width:150px;
    font-size:14px;
    position:relative;
    bottom:30px;
    padding:5px;
    border-radius:10%;

}

.lienlog {
    text-decoration:none;
    color: orange;
}








/* Dropdown Button */

.dropbtn {
    
    height: 65px;
    width: 65px;
    border: none;
    cursor: pointer;
    background-size:cover;
}

#compte {
    background-image: url('../assets/compte.png');

}

#livre {
    background-image: url('../assets/book.png');
    
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:black;
    box-shadow: 0px 8px 16px 0px orange;
    width:120px;
    border-radius:10%;
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: orange;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    width:120px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
