main {
    background-image: url('../assets/inscriptionbackg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    padding-top:0px;
    padding-left:7%;
    padding-bottom:100px;
    

   
}

.content {
    display:flex;
    flex-direction:column;
    text-align:left;
    padding-left:60%;
}

.titre {
    font-family: Oleo Script Swash Caps;
    font-size: 65px;
    margin-bottom:20px;
}

.intro {
    font-family: Lobster;
    font-size:24px;
    margin-bottom:20px;
   
    
}

p {
    font-family: Abril Fatface;
    font-size:18px;
}

/* BOX REGLES */

.boxregles {
    height:100px;
    width:90%;
    border-radius: 10%;
    font-family: Abril Fatface;
    font-size:13px;
    position:relative;
    right:6%;
    margin-top:-20px;
    

}

ul {
    list-style-type: none;
    color: orange;
    
}
